<script>
paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: '<%= env['PAYPAL_CLIENT_ID'] %>',
      production: ''
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'small',
      color: 'white',
      shape: 'rect',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
              total: '<%= @current_cart.total %>',
              currency: 'CAD'
          }
        }]
      });
    },
    onAuthorize: function(data, actions) {
      return actions.payment.get().then (function (){
        console.log("paypal button clicked")
        $.ajax({
          url: "/checkout",
          contentType: 'application/json',
          type: "POST",
          data: JSON.stringify({
            "checkout_action": "add_payment",
            "provider": "paypal",
            "token": data.paymentToken,
            "payer_id": data.payerID,
            "payment_id": data.paymentID
          }),
          success: function () {
            window.location.href = "<%= checkout_path %>"
          }
        });
      })
    }
  }, '#paypal-button');
</script>
<div class="col-lg-8">
  <div class="bg-light jumbotron">
    <p>Payment Method</p>
    <div><a class="btn btn-primary btn-large m-2" href="#">Paypal</a></div>
    <div><a class="btn btn-outline-primary btn-large m-2" href="#">Card</a></div>
  </div>
  <div class="bg-light px-4 py-3">
    <div class="row align-items-center text-center">
      <div class="col-md-6 mb-3 mb-md-0 text-md-left"><div id="editShipping" class="btn btn-link p-0 text-dark btn-sm"><i class="fas fa-long-arrow-alt-left mr-2"> </i>Edit shipping</div></div>
      <div class="col-md-6 text-md-right"><div id="paypal-button"></div></div>
    </div>
  </div>
</div>