<script>
    $(document).ready(function () {
      $('#editShipping').click( function() {
        console.log("edit shipping clicked")
        $.ajax({
          url: "",
          contentType: 'text/html',
          type: "GET",
          data: {prev: true},
        });
      })
    })
</script>
<h1>payment</h1>
<div class="bg-light px-4 py-3">
  <div class="row align-items-center text-center">
    <div class="col-md-6 mb-3 mb-md-0 text-md-left"><a id="editShipping" class="btn btn-link p-0 text-dark btn-sm" href=""><i class="fas fa-long-arrow-alt-left mr-2"></i>Edit shipping</a></div>
    <div class="col-md-6 text-md-right"><a id="checkout" class="btn btn-outline-dark btn-sm" href="<%= checkout_path %>">Procceed to checkout<i class="fas fa-long-arrow-alt-right ml-2"></i></a></div>
  </div>
</div>
